*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}
header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 10px;
}
.logo {
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}
nav a{
  font-weight: 600;
  padding-right: 10px;
}
nav a:hover{
  color: black;
}
.nombre-empresa{
  color: white;
}
.logo img {
  height: 50px;
  margin-left: 10px;
}
main {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  header {
    display: inline-block;
  }
}
